/* .App {
  text-align: center;
} */
.contentPage {
  display: grid;
  grid-template-columns: auto auto auto;
}
.card {
  height: 30vw;
  width: 25vw;
  margin: 2vw;
  overflow: hidden;
}
.card:hover {
  box-shadow: 0px 0px 15px 5px rgba(14, 2, 2, 0.756);
}
img {
  width: 100%;
  height: fit-content;
}
a {
  text-decoration: none;
}
p {
  margin-top: 0vw;
}
